:root {
	--primary-color: #4834d4;
	--success-color: #6ab04c;
	--warning-color: #f0932b;
	--danger-color: #eb4d4b;

	--light-color: #212529;
	--light-second-color: #727475;
	--light-background: #ffffff;
	--light-second-background: #f1f1f1;

	--dark-color: #909090;
	--dark-second-color: #f5f6fa;
	--dark-background: #23242D;
	--dark-second-background: #181818;
  --color: #000;
  --icon-color: #00f;
}

.light {
	--main-bg-color: var(--light-background);
	--second-bg-color: var(--light-second-background);
	--main-color: var(--light-color);
	--second-color: var(--light-second-color);
}

.dark {
	--main-bg-color: var(--dark-background);
	--second-bg-color: var(--dark-second-background);
	--main-color: var(--dark-color);
	--second-color: var(--dark-second-color);
  --color: #fff;
  --icon-color: #fff;
}



i{
	color: var(--icon-color);
}
  .table-container{
    padding: 0 10%;
    margin: 40px auto 0;
    padding-top: 40px;
  }
  .heading{
    font-size: 40px;
    text-align: center;
    color: var(--dark-second-background);
    margin-bottom: 40px;
  }
  .table{
    width: 100%;
    border-collapse: collapse;
  }
  .table thead{
    background-color: var(--primary-color);
  }
  .table thead tr th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: var(--light-background);
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
  }
  .table tbody tr td{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: var(--dark-second-background);
    /* background-color: #3c3f44; */
    font-weight: bold;
    padding: 8px;
    text-align: center;
    border:1px solid #02020285; 
  }
  .table tr:hover td {
    background-color: var(--primary-color); /* or #000 */
    color: bisque;
}

#myTable tr td{
  color: var(--color);
}
  /* .body_table :hover{
    background-color: #0f4db1;
  } */


  .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
 .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}

 .btn-download {
	height: 36px;
	padding: 0 20px;
	border-radius: 20px;
	background: var(--primary-color);
	color: var(--light-background);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
    text-decoration: none;
}
.btn_One {
  background: var(--primary-color);
  color: var(--light-background);
  border: none;
  height: 36px;
  padding: 0 40px;
  border-radius: 20px;
  font-weight: 500;
  text-decoration: none;
}


  
.Search_section input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .Search_section button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: var(--light-second-background);
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .Search_section  button:hover {
    background: var(--light-second-background);
  }


  .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
  text-decoration: none;
  padding-right:10px;
}
 .box-info li {
	padding: 15px;
	background: var(--dark-second-color);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
  text-decoration: none;
}
.box-info .infon {
  padding: 12%;
  width:80%;
  background: var(--dark-second-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  text-decoration: none;
  margin-left: 70px;
}
.box-info select {
  padding: 15px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  text-decoration: none;
}
#options {
  background: var(--dark-second-color);
  border-radius: 20px;
}

 .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
  text-decoration: none;
}
 .box-info li:nth-child(1) .bx {
	background: #CFE8FF;
	color: #3C91E6;
  text-decoration: none;
}
 .box-info li:nth-child(2) .bx {
	background: #FFF2C6;
	color: #FFCE26;
  text-decoration: none;
}
 .box-info li:nth-child(3) .bx {
	background: #FFE0D3;
	color: #FD7238;
  text-decoration: none;
}
 .box-info li:nth-child(4) .bx {
	background: #CFE8FF;
	color: #3C91E6;
  text-decoration: none;
}
 
 .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: #342E37;
  text-decoration: none;
}
 .box-info li .text p {
	color: #342E37;
  text-decoration: none;	
}



  /*Button codes*/
  .container{
    text-align: center;
    margin-top: 36px;
  }

  /*Responsive code for tables*/
  @media(max-width:768px){
    .table thead{
      display: none;
    }
    .table, .table tbody, .table tr, .table td{
      display: block;
      width: 100%;
    }
    .table tr{
      margin-bottom: 15px;
    } 
    .table tbody tr td{
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
    .table td:before{
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      height: 100%;
      padding-left: 15px;
      font-weight: 600;
      font-size: 14px;
      text-align: left;
    }
  }